*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* -----------Header---------- */
#header{
    position: relative;
    background-color: #f7f7f7;
}
.co{
    height: 10px;
    background-color: #006341;
}
.section{
    width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
    height: 98px;
    padding-top: 20px;
}
.section-body{
    padding: 0 20px;
    display: flex;
}
.logo{
    width: 8%;
}
.section-body ul{
    display: flex;
    list-style: none;
    align-items: flex-end;
    width: 90%;
}
.section-body ul a{
    padding: 14px;
    text-transform: uppercase;
    color: #000;
    font-family: monospace;
    font-size: 18px;
}
.section-body ul li > a:hover{
    color: #fff;
    background-color: #1e1e1e;
}
.section-body ul li:hover .sub-menu{
    display: block;
}
.map{
    width: 16%;
    padding: 0 20px;
    height: 20px;
}
.map a{
    display: flex;
    justify-content: space-between;
    color: #666;
    font-family: monospace;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}
.map a:hover{
    color: #8a8885;
}
.map img{
    height: 18px;
    width: 14px;
}
/* --------------sub-menu----------- */

.sub-menu{
    position: absolute;
    top: 108px;
    background-color: #1e1e1e;
    display: none;
    right: 0;
    left: 0;
    padding: 0px 120px 15px;
}
.sub-menu-body{
    display: flex;
    width: 1360px;
    margin: 0 auto;
    background-image: url(/img/pattern_stars.png);
    width: 103%;
}
.sub-items {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    margin-bottom: 20px;
}
.sub-menu-body-left{
    padding: 20px 0 10px;
    background-color: #1e1e1e;
    width: 80%;
}
.sub-menu-body-left-top {
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
}
.sub-menu-body-left .sub-link{
    padding: 0;
    font-size: 13px;
    color: #fff;
    text-transform: capitalize;
    margin: 5px 0;
    width: fit-content;
}
.sub-menu-body-left .sub-link b{
    font-size: 14px;
}
.sub-menu-body-left-bottom p{
    color: #fff;
    margin-top: 10px;
}
.sub-menu-body-left-bottom {
    border-top: 1px solid #fff;
    margin-top: 20px;
}
.sub-menu a:hover{
    background-color: #2a8a15;
}
.sub-menu-body-right{
    width: 20%;
}
.sub-menu-body-right-content{
    display: flex;
    margin: 20px ;
    flex-wrap: wrap;
    width: 168px;
    
}
.sub-menu-body-right-content p{
    color: #fff;
    font-size: 13px;
    margin: 10px 0 0;
    line-height: 1.4;
    text-transform: capitalize;
}
.sub-menu-body-right-content p b{
    font-size: 14px;
    
}
.sub-ft{
    display: flex;
    align-items: center;
}
.sub-ft p{
    padding-left: 30px;
    margin: 0;
}
/* ---------banner----------- */
.banner{
    height: 560px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
/* ---------introduce----------- */
.introduce{
    width: 1340px;
    padding: 70px 20px;
    margin: 0 auto;
}
.introduce-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduce-wrapper-left{
    width: 50%;
    font-family: monospace;
}
.introduce-wrapper-left-content{
    padding: 0 20px;
    width: 90%;
}
.introduce-wrapper-left-content h2{
    margin-bottom: 19px;
    font-family: monospace;
    font-size: 25px;
}
.introduce-wrapper-left-content p{
    margin-bottom: 30px;
    line-height: 1.6;
    font-weight: 900;
    font-size: 18px;
}
.introduce-wrapper-left-content a{
    color: #000;
    border-bottom: 1px dashed #000;
    font-size: 18px;
    font-weight: 600;
}
.introduce-wrapper-right{
    width: 40%;
}
.introduce-wrapper-right img{
    padding: 0 20px;
}


/* -------fb-ins--------- */

.footer-top{
    margin-bottom: 3px;
    background-color: #f0f0f0;
}
.footer-top-body{
    width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    height: 114px;
    align-items: center;
}
.footer-top-body img{
    width: 50px;
}
.footer-top-body img:hover{
    opacity: 0.7;
}
.footer-bottom{
    background: #f7f7f7;
    padding-bottom: 45px;
    border-bottom: 8px solid #382f2d;
}
.footer-bottom-body{
    width: 1360px;
    margin: 0 auto;
    padding: 40px 20px 0;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-body img{
    width: 18px;
    padding-bottom: 20px;
}
.footer-bottom-body-contact{
    width: 50%;
    display: flex;
}
.contact-items{
    width: 33.33333%;
}
.contact-items h4{
    padding: 18px 0;
    color: #000;
    font-size: 18px;
    font-family: monospace;
    text-transform: uppercase;
}
.contact-items li{
    margin-bottom: 20px;
    list-style: none;
}

.contact-items a h4:hover,
.contact-items a:hover,
.footer-bottom-wrapper ul li a:hover{
    color: #8a8885;
}
.contact-items li a{
    color: #3d3935;
    font-family: monospace;
    font-weight: 900;
    font-size: 14px;
}

.footer-bottom-wrapper{
    width: 1360px;
    margin: 0 auto;
    font-size: 14px;
}
.footer-bottom-wrapper ul{
    padding: 0 20px;
    display: flex;
    list-style: none;
    margin: 10px 0;
}
.footer-bottom-wrapper ul li{
    padding: 0 10px;
    display: flex;
}
.footer-bottom-wrapper ul li img{
    height: 20px;
    padding-right: 10px;
}
.footer-bottom-wrapper ul li a{
    color: #000;
    padding-right: 5px;
    font-family: monospace;
    font-size: 14px;
    font-weight: 900;
}
.footer-bottom-wrapper ul li .ft{
    color: #666;
}
.footer-bottom-wrapper span{
    border-right: 1px solid #ccc;
    height: 18px;
}
.footer-bottom-wrapper p{
    font-family: monospace;
    font-size: 12px;
    padding: 25px 0 25px 30px;
}